@import url('../../style/style.css');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: clamp(25rem, 70vw, 100vw);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.login{
    background-color: brown;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 8px;
}
input{
    font-size: x-large;
    color: bisque;
    background-color: brown;
    border-radius: 8px;
    text-shadow: 4px 0.5px 3px black;
    text-indent: 1rem;
    text-transform: lowercase;
    letter-spacing: 0.135rem;
}
label{
    font-family: 'Delius',cursive;
    font-size: x-large;
    color:bisque;
}
label{
    font-size: x-large;
    color:bisque;
    background-color: brown;
    transition: 1s ease-in-out;
    cursor: pointer;
}
button{
    font-size: x-large;
    color: bisque;
    background-color: brown;
    transition: 1s ease-in-out;
    cursor: pointer;
}
button:hover{
    color: bisque;
    background-color: brown;
    box-shadow: 5px 5px 20px;
}
from{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}